# Entorno virtual
venv/
.env/
.venv/

# Python
_pycache_/
*.pyc

# VS Code
.vscode/

# Variables de entorno
.env
.env.example

# Archivos específicos
main.py
requirements.txt

# Sistema
.DS_Store
Thumbs.db